* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
  }
  body {
    height: 100vh;
    background: linear-gradient(135deg, #cc5a3ee3, #2b2dd3f2);
  }
  
  html {
    font-size: 16px;
  }
  h1 {
    line-height: 1em;
    margin-bottom: 0;
    padding-bottom: 5px;
    font-size: 2.8em;
    color: #fbf6fa;
    font-weight: bold;
    text-align: center;
  }

  .wrapper {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
  }
  .container {
    width: 70vmin;
    height: 70vmin;
    display: flex;
    flex-wrap: wrap;
    gap: 2vmin;
  }
  .button-option {
    background: #ffffff;
    height: 20vmin;
    width: 20vmin;
    border: block;
    border-radius: 4cap;
    font-size: 9vmin;
    color: #200f30;
    box-shadow: 0 0 15px rgba(15, 1, 1, 0.756);
  }
  #restart {
    font-size: 1.3em;
    padding: 1em;
    border-radius: 8px;
    background-color: #0a0027;
    color: #ffffff;
    border: none;
    position: relative;
    margin: 1.5em auto 0 auto;
    display: block;
  }
  .popup {
    background: linear-gradient(135deg, #cc5a3e, #2b2ed3);
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    z-index: 2;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1em;
    font-size: 10vmin;
  }
  #new-game {
    font-size: 0.4em;
    padding: 0.4em 1em;
    background-color: #050506;
    color: #ffffff;
    border-radius: 0.2em;
    border: none;
  }
  #message {
    color: #fcf6f6;
    text-align: center;
    font-size: 1em;
  }
  .popup.hide {
    display: none ;
  }